@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e95354;
  font-family: 'Helvetica', sans-serif;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Start with transparency */
  }
  to {
    opacity: 1; /* End with full opacity */
  }
}

.fade-in {
  opacity: 0; /* Initially make the element transparent */
  animation: fadeInAnimation 0.5s ease-in forwards; /* Apply the animation */
}
